<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @foto.nome %>
</p>

<p>
  <strong>Img:</strong>
  <%= image_tag @foto.img %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
